div.black {
  background-color: #292C36; }

div.red {
  background-color: #D2242E; }

div.green {
  background-color: #84BD5C; }

div.yellow {
  background-color: #C9794B; }

div.blue {
  background-color: #716EB1; }

div.magenta {
  background-color: #A52281; }

div.cyan {
  background-color: #379D92; }

div.white {
  background-color: #a4a9ba; }

div.bright_black {
  background-color: #3f4453; }

div.bright_red {
  background-color: #f10513; }

div.bright_green {
  background-color: #7fda3f; }

div.bright_yellow {
  background-color: #e6712e; }

div.bright_blue {
  background-color: #5852cd; }

div.bright_magenta {
  background-color: #be098c; }

div.bright_cyan {
  background-color: #1db8a7; }

div.bright_white {
  background-color: white; }
